#NewGameFrame {
  padding: 10px 10px 0px 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  box-sizing: border-box;
  user-select: none;
}

#GameNameInput {
  display: block;
  min-width: calc(var(--worldFrameSize) - 34px);
  height: 30px;
  border: 2px solid var(--firstColor);
  border-radius: 4px;
  outline: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: white;
  padding: 15px;
  margin-top: 30px;
  font-size: 19pt;
  font-family: "PixGamer";
  user-select: none;
}

#GameNameLabel {
  display: block;
  color: white;
  font-size: 16pt;
  font-family: "PixGamer";
  user-select: none;
}

#WorldFrame {
  width: var(--worldFrameSize);
  overflow: hidden;
  display: inline-flex;
  margin-top: 30px;
}

#WorldDetails {
  margin-top: 30px;
  color: white;
}

#WorldText {
  background: var(--secondColor);
  width: 70%;
  height: 150px;
  position: absolute;
  left: 50%;
  top: var(--textTopHeight);
  transform: translate(-50%);
  border-radius: 10px;
  margin-top: 5px;
  border: 3px solid var(--lightColor);
  box-sizing: border-box;
  overflow: hidden;
  color: var(--white);
  font-size: 24px;
  padding: 10px;
  user-select: none;
}

#WorldPoints {
  height: 130px;
  margin-top: 20px;
}

#RigthButtonArea {
  position: absolute;
  left: 75%;
  top: 40%;
}

#LeftButtonArea {
  position: absolute;
  left: 25%;
  top: 40%;
}

.world {
  min-width: var(--worldSize);
  min-height: var(--worldSize);
  margin-left: var(--worldMargin);
  margin-right: var(--worldMargin);
  transition: transform 0.5s ease;
  transform: translateX(var(--worldDisplacement));
  user-select: none;
}
