#NewGameFrame {
  padding: 10px 10px 0px 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  box-sizing: border-box;
  user-select: none;
}

#GameNameInput {
  position: fixed;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  width: 40%;
  height: 30px;
  border: 2px solid var(--firstColor);
  border-radius: 4px;
  outline: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: white;
  padding: 15px;
  margin-top: 15px;
  font-size: 19pt;
  font-family: "PixGamer";
}

#GameNameInputLabel {
  position: fixed;
  color: white;
  left: 34%;
  top: 1%;
  transform: translateX(-50%);
  font-family: "PixGamer";
}

#WorldSlot {
  display: inline-flex;
  position: fixed;
  overflow: hidden;
  width: 28%;
  left: 50%;
  transform: translateX(-50%);
  top: 23%;
}

#RightButtonSlot {
  position: fixed;
  display: inline-block;
  left: 80%;

  transform: translate(-50%);
  top: 32%;
}

#LeftButtonSlot {
  position: fixed;
  display: inline-block;
  left: 20%;
  transform: translate(-50%);
  top: 32%;
}

#ConfirmButtonSlot {
  position: fixed;
  left: 50%;
  bottom: 12%;
  width: 30%;
  transform: translateX(-50%);
  background-color: aquamarine;
}

#WorldTextFrame {
  background: var(--secondColor);
  width: 60%;
  height: 230px;
  overflow-y: scroll;
  min-height: 150px;
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%);
  border-radius: 14px;
  margin-top: 5px;
  border: 3px solid var(--lightColor);
  box-sizing: border-box;
  color: var(--white);
  font-size: 24px;
  padding: 15px;
  /* user-select: none; */
}

#WorldTextFrame::-webkit-scrollbar {
  width: 16px;
}

#WorldTextFrame::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

#WorldTextFrame::-webkit-scrollbar-thumb {
  background: var(--lightColor);
  border-radius: 10px;
}

#WorldTextFrame::-webkit-scrollbar-thumb:hover {
  background: var(--shadowColor);
}

#WorldTextFrame h4 {
  user-select: none;
  margin-top: 0;
}

#WorldTextFrame h5 {
  user-select: none;
  margin-bottom: 0;
}

#WorldTextFrame ul {
  user-select: none;
  margin-bottom: 0;
  margin-top: 5px;
}

.world {
  min-width: var(--worldSize);
  min-height: var(--worldSize);
  margin-left: var(--worldMargin);
  margin-right: var(--worldMargin);
  transition: transform 0.5s ease;
  transform: translateX(var(--worldDisplacement));
  user-select: none;
}
