@font-face {
  font-family: "PixGamer";
  src: url("../assets/fonts/PixgamerRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

:root {
  --white: white;

  /* Pallete */
  --firstColor: #84a98c;
  --ancorColor: #52796f;
  --secondColor: #354f52;
  --lightColor: #cad2c5;
  --shadowColor: #2f3e46;

  /* Newgame screen */
  --worldDisplacement: 0px;
  --worldFrameSize: 0px;
  --worldSize: 0px;
  --worldMargin: 0px;
  --textTopHeight: 0px;
}
